.container {
    position: relative;
    width: 800px;
    height: 400px;
    margin: 0 auto;
    overflow: hidden;
    border: 10px solid black;
}

.slide {
    position: absolute;
    width: 100%;
    /* width: calc(800px*3); */
    animation-name: slide;
    animation-duration: 16s;
    animation-iteration-count: infinite;
}

.slide img {
    width: 800px;
    height: 400px;
    /* float: left; */
}


@keyframes slide {
    /* 이 때는 absolute 적용해야하고  */
    33.333% { top: 0;}
    66.666% { top: calc(-400px *1 );}
    100% { top: calc(-400px * 2);}
}

/*  
@keyframes slide {
    /* 이 때는 absolute 적용안해야 한다. */
    33.333% { transform: translateY(0);}
    66.666% { transform: translateY(calc(-800px * 1));}
    100% { transform: translateY(calc(-800px * 2));}
}  */