
* {margin: 0; padding: 0; box-sizing: border-box;}
/* reset */

a { text-decoration: none; color: black; }
ul { list-style-type: none;}

header {
    width: 100%;
    border: 1px solid black;
    position :fixed;
    top:0;
    left: 0;
    background-color: whitesmoke;
    z-index: 10;
}
.util {
    height: 40px;
    padding: 10px; background-color: #dce6ff;}
.util .util-menu { float: right;}
.util .util-menu li {
    display: inline-block;
    margin: 0 14px;
}

.util .util-menu::after {
    display: block;
    content: '';
    clear: both;
} 
.menu {
    position: relative;
    height: 80px;
}
.menu .menu-left {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
.menu .menu-left a,
.menu .menu-right a {
    display: inline-block;
    width: 80px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    font-size: 30px;
}

.menu .menu-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.menu .menu-center nav ul li {
    display: inline-block;
    height: 80px;
    line-height: 80px;
}
.menu .menu-center nav ul li a {
    display: inline-block; /* 부모가 인라인블록 되어있어서 쓸필요는 없음 */
    width: 100%;
    height: 100%;
    padding: 0 32px;
    font-weight: bold;
}
.menu .menu-right {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}